resumes/
snippets/
v4/
.env
readme.md
env/
# Django #
*.log
*.pot
*.pyc
__pycache__
backend/__pycache__
client/__pycache__
dbbackend/__pycache__
common/__pycache__
manager/__pycache__
payment/__pycache__
register/__pycache__
freelancer/__pycache__
db.sqlite3
media
backup.sql
copydb.sql